*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent{
    max-width: 100%;
    height: 4400px;
    /* border: 2px solid black; */
}
.nav{
    width: 100%;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 50px;
    height: 40px;
    /* border: 2px solid black; */
}
.ul{
    width: 350px;
    height: 20px;
    /* border: 2px solid black; */
}
.kochak1{
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
.button1{
    width: 180px;
    height: 50px;
    background-color: white;
    border: 2px solid #F7941E;
    border-radius: 8px;
    color: #F7941E;
}
@media screen and (max-width: 467px){
    li{
        font-size: 13px;
    }
    .kochak1{
        width: 130px;
        height: 40px;
    }
    .button1{
        width: 130px;
        height: 40px;
    }
}
@media screen and (max-width: 384px){
    li{
        font-size: 10px;
    }
}
@media screen and (max-width: 332px){
    ul{
        display: none;
    }
    .ul{
        display: none;
    }
}
.menu1{
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu1_1{
    width: 550px;
    height: 530px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F2;
    margin-top: 20px;
}
.menu1_2{
    width: 500px;
    height: 500px;
    /* border: 2px solid rgb(255, 0, 0); */
    background-size: cover;
    margin-top: 20px;
}
.img2{
    background-size: cover;
    width: 100%;
    height: 530px;
}
.menu1_1_1{
    width: 80%;
    height: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.p1{
    font-size: 60px;
    font-weight: bolder;
    
    margin-top: 50px;
}
.p2{
    
    font-size: 18px;
    margin-top: 40px;
}
.button2{
    width: 180px;
    height: 70px;
    background-color: #F7941E;
    border-radius: 8px;
    border: 1px solid #F7941E;
    color: white;
}
.kochak2{
    width: 180px;
    height: 70px;
    background-color: #F7941E;
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 20px;
}
@media screen and (max-width: 1030px){
    .menu1_2{
        margin-top: 20px;
    }
    .menu1{
        height: 1100px;
    }
    .menu2{
        height: 1100px;
        margin-top: 200px;
    }
    .menu3{
        margin-top: 550px;
    }
    .vernagir1{
        display: none;
    }
}
@media screen and (max-width: 352px){
    .kochak2{
        width: 120px;
        height: 45px;
        margin-bottom: 40px;
    }
    .button2{
        width: 120px;
        height: 45px;
    }
    .p1{
        font-size: 40px;
    }
    .p2{
        font-size: 13px;
    }
}
.menu2{
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu2_1{
    width: 550px;
    height: 530px;
    /* border: 2px solid black; */
    
}
.menu2_2{
    width: 500px;
    height: 530px;
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F2;
}
.img3{
    width: 100%;
    height: 530px;
}
.menu2_2_1{
    width: 300px;
    height: 450px;
    /* border: 2px solid black; */
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.p3{
    font-size: 45px;
    font-weight: bolder;
    margin-top: 40px;
    
}
.p4{
    font-size: 19px;
    margin-top: 30px;
}
.kochak3{
    width: 150px;
    height: 60px;
    background-color: #F7941E;
    border-radius: 5px;
    margin-top: 30px;
}
.button3{
    width: 150px;
    height: 60px;
    background-color: #F7941E;
    border-radius: 5px;
    border: 1px solid #F7941E;
    color: white;
}
@media screen and (max-width: 335px){
    .p3{
        font-size: 35px;
    }
    .p4{
        font-size: 16px;
    }
    .menu2_2_1{
        margin-left: 50px;
        width: 200px;
    }
}
.p5{
    font-size: 35px;
    font-weight: bolder;
    margin: 0 auto;
    margin-left: 13px;
}
.vernagir1{
    width: 400px;
    height: 90px;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-bottom: 50px;
}
.p6{
    margin-top: 20px;
    margin-right: 10px;
}
.menu3{
    max-width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu3_1{
    width: 275px;
    height: 400px;
    /* border: 2px solid black; */
    background-color: #FAFAFA;
}
.img4{
    background-size: cover;
}
.img4{
    
}
h1{
    font-size: 23px;
    margin-top: 10px;
    margin-left: 10px;
}
.p7{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 13px;
}
.footer{
    max-width: 100%;
    height: 250px;
    background-color: #F7941E;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p8{
    font-size: 40px;
}
.verj{
    width: 350px;
    height: 90px;
    /* border: 2px solid black; */
    margin-left: 150px;
}
.verj2{
    width: 460px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    margin-right: 100px;
    justify-content: space-evenly;
    
}
.kochak4{
    width: 200px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 5px;
}
.button4{
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}
.kochak5{
    width: 200px;
    height: 50px;
    border: 1px solid black
    border-radius: 5px;
    background-color: #F7941E;
}
.button5{
    width: 200px;
    height: 50px;
    background-color: #F7941E;
    border-radius: 5px;
    font-size: 17px;
}
@media screen and (max-width: 1030px){
    .footer{
        margin-top: 500px;
    }
}
@media screen and (max-width: 566px){
    .footer{
        margin-top: 1300px;
    }
}
@media screen and (max-width: 692px){
    /* .kochak4{
        margin-right: 200px;
    } */
    .kochak5{
        margin-right: 200px;
    }
    .verj2{
        width: 50px;
    }
    
    .p8{
        display: none;
    }
}
@media screen and (max-width: 492px){
    .verj2{
        margin-left: 80px;
    }
}
@media screen and (max-width: 445px){
    .kochak4{
        width: 120px;
        height: 50px;
    }
    .button4{
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
    .button5{
        width: 120px;
        height: 50px;
        font-size: 16px;
    }
    .kochak5{
        width: 120px;
        height: 50px;
    }
    .footer{
        height: 200px;
    }
}